[Unit]
Description=Cherwell Slackbot
after=network-online.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/Cherwell-Slackbot
ExecStart=/opt/Cherwell-Slackbot/bot



[Install]
WantedBy=multi-user.target
